extends layout

block content
  h1=title

  form(method='POST')
    div.form-group
        label(for='name') Name:
        input#name.form-control(type='text', name='name', required value=(undefined===item ? '' : item.name))
    div.form-group
        label(for='description') Description:
        input#description.form-control(type='text', name='description', required value=(undefined===item ? '' : item.description))
    div.form-group
        label(for='price') Price:
        input#price.form-control(type='text', name='price', required value=(undefined===item ? '' : item.price))
        label(for='quantity') Quantity:
        input#quantity.form-control(type='text', name='stock', required value=(undefined===item ? '' : item.stock))
    div.form-group
        label(for='category') Category:
        select#category.form-control(name='category' required)
            option(value='') Select a category
            for category in categories
                if item
                    if category._id.toString() == item.category._id.toString()
                        option(value=category._id, selected='selected')= category.name
                    else
                        option(value=category._id)= category.name
                else
                    option(value=category._id)= category.name
    input.btn.btn-primary(type='submit', value='Submit')

    hr
    if errors
        ul
            each error, i in errors
                li!= error.msg